.vendosoft-form-item {
	width: 200px;
	margin: 3px 0px;
}
		
.vendosoft-form-item > * {
	width: 100%
}
		
.vendosoft-error-field {
	display: none;
	color: red;
	text-align: right;
	font-size: 12px;
}

.vendosoft-form-item > input[type="submit"] {
	padding: 5px;
	text-align: center;
	background-color: #f8e61f;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:7px;
	-khtml-border-radius:12px;
	font-size: 13px;
	font-weight: 900;
	cursor: pointer;
}
	
#api_key {
	height: 32px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:7px;
	-khtml-border-radius:12px;
}
	
.vendosoft-form-item  select {
	border-radius: 5px;
}

.import-result {
	display: none;
	background-color: #32cd32;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 10px;
    width: 180px;
}

.mail365-notice {
  display: inline-block;
  padding: 8px 35px 8px 14px;
  margin-top: 15px;
  margin-bottom: 20px;
  
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.notice-info {
  color: #3a87ad;
  
  background-color: #d9edf7;
  border-color: #bce8f1;
}